html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body {
	font-size: 10px;
	font-family: "Orator Std", "Orator", Georgia, Times, "Times New Roman", serif;
	background: black;
}
nav {
	box-sizing: border-box;
	background: #c8b24a;
	width: 147px;
	padding: 10px;
	min-height: 540px;
	height: 100%;
	float: left;
}

header {
	display: none;
}
p {
	color: #888;
	font-size: 1.8em;
	line-height: 1.8em;
}
nav a {
	font-size: 22px;
	display: block;
	width: 100%;
	text-decoration: none;
	margin-bottom: 25px;
	-webkit-transform:scale(1,1.15);
	color: #645925;
}
a {

}
section {
	margin-top: 2em;
	border:1px solid blue;
	float: left;
	width: 800px;
}

footer {
	font-size: 9px;
	margin-top: 4em;
	color: #c8b24a;
	text-transform: uppercase;
	position: absolute;
	margin-top: 502px;
	margin-left: 400px;
	-webkit-transform: rotate(2deg);
}
footer .loic {
	color: #c8b24a;
	display: inline-block;
	font-size: 13px;
	letter-spacing: -2px;
	-webkit-transform: scale(1,1.4);
	text-decoration: none;
}
.wrapper {
	box-sizing: border-box;
	background: url(/william-wray.jpg);
	background-repeat: no-repeat;
	background-size: 813px;
	background-position: top right;
	min-height: 540px;
}

.home-logo {
	position: absolute;
	background: url(/gamma-wray.png);
	background-repeat: no-repeat;
	background-size: 100%;
	width: 960px;
	height: 600px;
	margin-left: -148px;
	pointer-events:none;
	
}
@media (min-width: 450px) {
	.wrapper {
		width: 960px;
		margin: 0 auto;
	}
}
@media (max-width: 449px) {
	.wrapper {
		width: 100%;
	}
}